<div class="container mat-typography" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <img src="assets/images/mary.jpg" />
      <h1>
        <mat-card-title>Mary JA</mat-card-title>
      </h1>
      <p>
        Graduated on Computer Science with more than 15 years of experience.
      </p>
      <p>
        Dedicated to the development of management systems of information and applications, enthusiast of new
        technologies.
      </p>
      <p>
        Lover of video games.
      </p>
    </mat-card-content>
  </mat-card>
  <div class="copyright" fxLayout="column" fxLayoutAlign="center center">
    <span>Version {{ version }}</span>
    <span>&copy; 2021 Smartie Pants Assignment | All rigths reserved</span>
  </div>
</div>
