<div class="fregister mat-typography" fxFill fxLayout="column" fxLayoutAlign="center center" fxlayoutGap="1rem">
  <div class="logo" fxLayoutAlign="center center" [@animate]="{ value: '*', params: { scale: '0.2' } }">
    <img src="assets/images/Smartie-pants-logo.svg" />
  </div>
  <span class="title" [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }">Your account has been
    created</span>
  <a class="back-link" style="font-size: 16px" [routerLink]="['/login']">
    <mat-icon>account_circle</mat-icon>
    Return To login
  </a>
  <div class="copyright" fxLayout="column" fxLayoutAlign="end center">
    <span>&copy; 2021 Smartie Pants Assignment | All rigths reserved</span>
  </div>
</div>
