<div fxLayout="row wrap" class="placement-head">
  <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="10px">
    <div fxLayout="column" fxLayoutAlign="end start" class="main" fxFlex="75" fxFlex.xs=100>
      <span class="title">Placements</span>
    </div>
    <div fxLayoutAlign="end end" fxLayout="row" class="buttons" fxFlex="25" fxFlex.xs=100 fxLayoutGap="10px">
      <button mat-raised-button color="accent" (click)="addPlacement()">Create</button>
      <button mat-raised-button color="accent" (click)="editPlacement()">Update</button>
    </div>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <app-placements-table [placements]="placements" [allFields]="true"></app-placements-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
