.transparent {
  padding-top: 15px;
}
.placement-head {
  min-height: 14vh;
  background-color: gray;
  background: url("/assets/images/bg-dev.jpg") no-repeat;
  background-size: cover;
  padding: 15px;
  .main {
    height: 100%;
    color: white;
    .title {
      font-size: xx-large;
      font-weight: 700;
    }
  }
}
